asgiref==3.7.2
Django==5.0.1
djangorestframework==3.14.0
pytz==2023.3.post1
sqlparse==0.4.4
psycopg2==2.9.9
celery[redis]==5.3.6
flower==2.0.1
celery-singleton==0.3.1
django-redis==5.4.0
django-cachalot==2.6.2